<footer class="footer">
  <div class="container">
    <div class="social-wrapper">
      <span>
        <a href="https://twitter.com/avojak" aria-label="Twitter" class="social-icon">
          <i aria-hidden class="fab fa-twitter" title="@avojak on Twitter"></i>
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/andrewvojak" aria-label="LinkedIn" class="social-icon">
          <i aria-hidden class="fab fa-linkedin" title="Andrew Vojak on LinkedIn"></i>
        </a>
      </span>
      <span>
        <a href="https://github.com/avojak" aria-label="GitHub" class="social-icon">
          <i aria-hidden class="fab fa-github" title="avojak on GitHub"></i>
        </a>
      </span>
      <span>
        <a href="https://stackexchange.com/users/1014342/avojak" aria-label="StackExchange" class="social-icon">
          <i aria-hidden class="fab fa-stack-overflow" title="avojak on StackExchange"></i>
        </a>
      </span>
      <span>
        <a href="https://keybase.io/avojak" aria-label="Keybase" class="social-icon">
          <i aria-hidden class="fas fa-key" title="avojak on Keybase"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
