<footer class="footer">
  <div class="container">
    <div class="social-wrapper">
      <span>
        <a href="https://twitter.com/avojak" aria-label="Twitter" class="social-icon">
          <i aria-hidden class="fab fa-twitter" title="@avojak on Twitter"></i>
        </a>
      </span>
      <span>
        <a href="https://www.linkedin.com/in/andrewvojak" aria-label="LinkedIn" class="social-icon">
          <i aria-hidden class="fab fa-linkedin" title="Andrew Vojak on LinkedIn"></i>
        </a>
      </span>
      <span>
        <a href="https://github.com/avojak" aria-label="GitHub" class="social-icon">
          <i aria-hidden class="fab fa-github" title="avojak on GitHub"></i>
        </a>
      </span>
      <span>
        <a href="https://stackoverflow.com/users/3300205/avojak" aria-label="Stack Overflow" class="social-icon">
          <i aria-hidden class="fab fa-stack-overflow" title="avojak on Stack Overflow"></i>
        </a>
      </span>
      <span>
        <a href="https://keybase.io/avojak" aria-label="Keybase" class="social-icon">
          <i aria-hidden class="fas fa-key" title="avojak on Keybase"></i>
        </a>
      </span>
      <span>
        <a href="https://feedly.com/i/subscription/feed/https://blog.avojak.com/rss/" aria-label="RSS" class="social-icon">
          <i aria-hidden class="fas fa-rss" title="Subscribe to blog.avojak"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
