<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>

    <% include ../partials/navbar %>

    <main>
    	<div class="container">
        <div class="gravatar-container row">
          <!-- ¯\_(ツ)_/¯ It works -->
    		  <img class="gravatar" id="gravatar-large" src="https://www.gravatar.com/avatar/4dfa9066e794647fdedf323ecab85333?s=150" />
          <img class="gravatar" id="gravatar-small" src="https://www.gravatar.com/avatar/4dfa9066e794647fdedf323ecab85333?s=100" />
        </div>
        <div>
          <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Castle Rock, CO USA</p>
          <p><span><i class="fa fa-briefcase" aria-hidden="true"></i></span> Raytheon Company (2017 - Present)</p>
          <p><span><i class="fa fa-briefcase" aria-hidden="true"></i></span> Cerner Corporation (2014 - 2017)</p>
          <p><span><i class="fa fa-university" aria-hidden="true"></i></span> University of Illinois at Urbana-Champaign</p>
          <p><span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span> B.S. in Computer Science</p>
          <p><span><i class="fa fa-file" aria-hidden="true"></i></span> Resume (<a href="./resume.html">Online</a>|<a href="#">PDF</a>)</p>
        </div>
    	</div>

      <div class="container">
        <div class="bio row">
          <p>
            Andrew Vojak is a software engineer at Raytheon Company, and has been working professionally since
            graduating from the University of Illinois at Urbana-Champaign in 2014 with a B.S. in Computer Science.
            During his time at Cerner, Andrew has helped develop software to integrate physiological waveform data
            into electronic health records. He has made a substantial impact on the project, and has been recognized
            for his contributions around improving workflow performance and CPU utilization.
          </p>
          <p>
            In a non-professional setting, Andrew enjoys writing (and breaking other people's) code, building new
            Raspberry Pi projects, exploring nature, and eating breakfast food at any meal. Also coffee.
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <p>Certifications: <em>Security+</em></p>
        </div>
      </div>
    </main>

    <section>
      <div class="container">
        <!-- <p class="text-muted">Updated May 2017</p> -->
      </div>
    </section>

    <% include ../partials/footer %>
    
  </body>
</html>
