<div class="container">
  <div class="row">
    <h1>Hydrogen</h1> <span class="label label-default">In Progress</span>
    <!-- <span class="label label-default">Eclipse Plugin</span> -->
  </div>
</div>

<!-- <div class="container github-badges">
  <div class="row">
    <img src="https://img.shields.io/badge/version-1.0.0--SNAPSHOT-yellow.svg" />
    <img src="https://travis-ci.org/avojak/hydrogen.svg?branch=master" />
    <img src="https://img.shields.io/badge/license-EPL%201.0-blue.svg" />
  </div>
</div> -->

<div class="container">
  <div class="project-description row">
    <p>
      Hydrogen is an Eclipse plugin to configure and launch one or more <a href="http://www.h2database.com/html/main.html">H2</a> database servers. Server instances can be launched directly from the Eclipse Run Configuration menu.
    </p>
    <!-- <p>
      For more details about the development of Hydrogen, check out my <a href="#">blog post</a>.
    </p> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <span class="repo-link"><a href="https://github.com/avojak/hydrogen"><i class="fa fa-github"></i> GitHub Repository</a></span>
  </div>
</div>
