<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li <%if (activeTab=="about") {%>class="active"<%}%>><a href="/about">About</a></li>
        <li class="dropdown <%if (activeTab=="projects") {%>active<%}%>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Eclipse Plugins</li>
            <li><a href="/projects/hydrogen">Hydrogen</a></li>
            <li class="dropdown-header">Maven Plugins</li>
            <li><a href="/projects/aws-p2-maven-plugin">AWS p2 Maven Plugin</a></li>
          </ul>
        </li>
        <li><a href="http://blog.avojak.com">Blog</a></li>
      </ul>
    </div>
  </div>
  <% include ../partials/banner %>
</nav>
